<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="init" default-destroy-method="destroy">

    <!--<bean id="helloWorld1" class="com.tutorialspoint.ioc.BeanFactory.HelloWorld">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean id="helloWorld" class="com.tutorialspoint.ioc.bean.HelloWorld" scope="prototype">
        <property name="message" value="hello World" />
    </bean>-->
    <!--<bean id="helloWorld" class="com.tutorialspoint.ioc.bean.HelloWorld" scope="singleton">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean id="helloWorldlifecycle" class="com.tutorialspoint.ioc.bean.lifecycle.HelloWorldLifeCycle">
        <property name="message" value="hello World" />
    </bean>-->
<!--
    <bean id="helloWorldlifecycle" class="com.tutorialspoint.ioc.bean.lifecycle.HelloWorldLifeCycle" init-method="init" destroy-method="destroy">
        <property name="message" value="hello World" />
    </bean>
-->
    <!--<bean id="helloWorldpostprocessors" class="com.tutorialspoint.ioc.bean.postprocessors.HelloWorldPostPocessors" init-method="init" destroy-method="destroy">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean class="com.tutorialspoint.ioc.bean.postprocessors.InitHelloWorld"></bean>-->

    <!--<bean id="helloWorld" class="com.tutorialspoint.ioc.bean.inherit.HelloWorld" >
       <property name="message1" value="hello World" />
       <property name="message2" value="hello second World" />
   </bean>

    <bean id="helloWorldInherit" class="com.tutorialspoint.ioc.bean.inherit.HelloWorldInherit" parent="helloWorld" >
       <property name="message1" value="hello World" />
       <property name="message3" value="hello World" />
   </bean>-->

    <!--<bean id="textEditor" class="com.tutorialspoint.di.constructor.TextEditor" >
        <constructor-arg ref="spellChecker" />
    </bean>

    <bean id="spellChecker" class="com.tutorialspoint.di.constructor.SpellChecker" >
    </bean>
    <bean id="bar" class="com.tutorialspoint.di.constructor.Bar" >
    </bean>
    <bean id="baz" class="com.tutorialspoint.di.constructor.Baz" >
    </bean>

    <bean id="foo" class="com.tutorialspoint.di.constructor.Foo" >
        <constructor-arg ref="bar" />
        <constructor-arg ref="baz" />
    </bean>-->
    <!--<bean id="textEditor" class="com.tutorialspoint.di.function.TextEditor" >
        <property name="spellChecker" ref="spellChecker"/>
    </bean>
    <bean id="spellChecker" class="com.tutorialspoint.di.function.SpellChecker" >
    </bean>-->
    <!--<bean id="textEditor" class="com.tutorialspoint.autowire.nameortype.TextEditor" autowire="byType" >
    &lt;!&ndash;<bean id="textEditor" class="com.tutorialspoint.autowire.nameortype.TextEditor" autowire="byName" >&ndash;&gt;
        &lt;!&ndash;<property name="spellChecker" ref="spellChecker"/>&ndash;&gt;
        <property name="name" value="sdfsdfsdfsafsdf fsdfadfsdfa"/>
    </bean>
    <bean id="spellChecker" class="com.tutorialspoint.autowire.nameortype.SpellChecker" >
    </bean>-->
    <!--<bean id="textEditor" class="com.tutorialspoint.autowire.constructor.TextEditor">-->
    <!--<bean id="textEditor" class="com.tutorialspoint.autowire.constructor.TextEditor" autowire="constructor">
        <constructor-arg value="sdfkkkkklllllll" />
    </bean>
    <bean id="spellChecker" class="com.tutorialspoint.autowire.constructor.SpellChecker" >
    </bean>

    &lt;!&ndash; required相关 &ndash;&gt;
    <context:annotation-config/>

    <bean id="student" class="com.tutorialspoint.annotation.required.Student" >
        <property name="age" value="18" />
        &lt;!&ndash;<property name="name" value="小红"/>&ndash;&gt;
     </bean>-->

    <!--  事件event  -->
    <bean id="helloWorld" class="com.tutorialspoint.annotation.event.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>

    <bean id="cStartEventHandler"
          class="com.tutorialspoint.annotation.event.CStartEventHandler"/>

    <bean id="cStopEventHandler"
          class="com.tutorialspoint.annotation.event.CStopEventHandler"/>
</beans>