<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="init" default-destroy-method="destroy">

    <!--<bean id="helloWorld1" class="com.tutorialspoint.ioc.BeanFactory.HelloWorld">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean id="helloWorld" class="com.tutorialspoint.ioc.bean.HelloWorld" scope="prototype">
        <property name="message" value="hello World" />
    </bean>-->
    <!--<bean id="helloWorld" class="com.tutorialspoint.ioc.bean.HelloWorld" scope="singleton">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean id="helloWorldlifecycle" class="com.tutorialspoint.ioc.bean.lifecycle.HelloWorldLifeCycle">
        <property name="message" value="hello World" />
    </bean>-->
<!--
    <bean id="helloWorldlifecycle" class="com.tutorialspoint.ioc.bean.lifecycle.HelloWorldLifeCycle" init-method="init" destroy-method="destroy">
        <property name="message" value="hello World" />
    </bean>
-->
    <!--<bean id="helloWorldpostprocessors" class="com.tutorialspoint.ioc.bean.postprocessors.HelloWorldPostPocessors" init-method="init" destroy-method="destroy">
        <property name="message" value="hello World" />
    </bean>-->

    <!--<bean class="com.tutorialspoint.ioc.bean.postprocessors.InitHelloWorld"></bean>-->

    <bean id="helloWorld" class="com.tutorialspoint.ioc.bean.inherit.HelloWorld" >
       <property name="message1" value="hello World" />
       <property name="message2" value="hello second World" />
   </bean>

    <bean id="helloWorldInherit" class="com.tutorialspoint.ioc.bean.inherit.HelloWorldInherit" parent="helloWorld" >
       <property name="message1" value="hello World" />
       <property name="message3" value="hello World" />
   </bean>
</beans>